*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body{
    /* text-align: center; */
    background-color: hsl(206, 92%, 94%);
    background-image: url("image/279823199_727334848712000_741005190980375121_n.jpg");
    background-position: center;
    background-size: cover;
}
#index_h1{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.head{
     text-align: center;
    font-size: x-large;
    color: wheat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: fit-content;
}
.container span {
    margin-inline: 2%;
    background: antiquewhite;
    min-height: max-content;
    min-width: 10%;
    text-align: center;
    border: solid 2px ;
    border-radius: 10px;
    padding: 2% 1%;
    margin-block: 1rem;
    border: 2px solid rgb(255, 224, 168);
}
.container span h2{
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 2vh;
}
.container span img{
    max-width: 15vh;
    max-height: 15vh;
    height: 15vh;
    border-radius: 2vh;
    margin-bottom: 2vh;
}
.container span p{
    text-align: center;
    font-size: large;
    max-width: 100%;
    font-weight: bold;
}
.container a button{
    min-width: 80%;
    margin-block: 10px;
    padding: 8px 10px;
    border-radius: 2vh;
    border: hsl(249, 98%, 59%);
    background:  hsl(206, 100%, 69%);
    color: #fff;
    font-weight: bold;
    font-size: large;
}