*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    font-family: sans-serif;
    background-color: hsl(206, 92%, 94%);
    /* background: linear-gradient(115deg, rgba(255, 255, 255, 0.8),rgba(202,102,211,0.5)),url(/quizbg.jpg); */
    background-image: url(image/279678554_1265018364028570_8134121482741007016_n.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
img{
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
}
.img{
    position: fixed;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    /* background: rgba(105,224,90,0.55); */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: antiquewhite;
    cursor: default;
    border-radius: 1rem;
    border: 2px solid rgb(255, 224, 168);
    box-shadow: 0 1rem 1rem -0.9rem rgba(0, 0, 0, 0.4);
}
#question{
    margin-bottom: 1rem;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem hsl(206, 100%, 81%);
    width: 25rem;
    background: hsl(206, 92%, 94%);
    border-radius: 1rem;
    
}
.option:hover{
    background-color: hsl(204, 100%, 87%);
    border-bottom: solid 0.1rem hsl(204, 100%, 65%);
}
ol{
    position: relative;
    padding: 0 1.5rem;
    color: rgb(0, 0, 0);
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    margin-top: 1.5rem;
    color: rgb(0, 0, 0);
}
.buttons{
    text-align: center;
}
.next{
    box-shadow: 0 1rem 1rem -0.9rem rgba(0, 0, 0, 0.4);
}
button{
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: rgba(0, 0, 0, 0.98);
    background: hsl(206, 100%, 81%);
}
button:active{
    background: hsl(205, 100%, 67%);
}
#scoreboard,#answerBank{
    width: 27rem;
    background: antiquewhite;
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
    border-radius: 10%;
    border: 2px solid rgb(255, 224, 168);
    box-shadow: 0 1rem 1rem -0.9rem rgba(0, 0, 0, 0.4);
}
#score-title{
    margin: 1rem 0;
}
#score-btn,#check-answer{
    margin-top: 1rem;
    box-shadow: 0 1rem 1rem -0.9rem rgba(0, 0, 0, 0.4);
}
#score{
    font-size: 2rem;
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}
